<!DOCTYPE html>
<html lang="zh" style="height: 100%;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{include :: header('服务依赖关系')}"/>
    <th:block th:insert="~{include :: g6-js}"/>
</head>
<body class="sentinel-page" style="height: 100%; overflow: hidden;">
<div class="dag-container">
    <div class="dag-header">
        <i class="fa-solid fa-diagram-project"></i>服务依赖关系图
        <button type="button" class="btn btn-sm btn-outline-light ms-auto" onclick="location.reload()">
            <i class="fa-solid fa-arrows-rotate me-1"></i>刷新
        </button>
    </div>
    <div class="dag-body">
        <div id="container" style="width: 100%; height: 100%"></div>
    </div>
</div>
<script th:inline="javascript">
    const { Graph } = G6;

    const data = /*[[${dagData}]]*/ {
        nodes: [],
        edges: []
    };

    const graph = new Graph({
        container: 'container',
        data,
        node: {
            style: {
                size: (d) => d.size,
                labelText: (d) => d.label,
                fill: (d) => d.color,
            },
        },
        edge: {
            style: {
                endArrow: true,
            },
        },
        layout: {
            type: 'antv-dagre',
            rankdir: 'LR',
            nodeSize: (d) => d.size,
            nodesep: 40,
            ranksep: 80,
        },
        behaviors: ['drag-element', 'drag-canvas'],
    });

    graph.render();
</script>
</body>
</html>
