<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <th:block th:include="include :: header('服务集群录入')"/>
    <th:block th:include="include :: select2-css"/>

</head>
<body>
<h2>服务集群信息录入</h2>


<form th:action="@{/cluster/save}" method="post">

    <div>
        <label class="form-label">名称:
            <input type="text" name="name" required/>
        </label>
    </div>
    <div>
        <label class="form-label">备注:
            <input type="text" name="remark"/>
        </label>
    </div>
    <div>
        <label class="form-label">最小存活数量:
            <input type="number" name="minAliveNum" value="1" min="1" required class="form-i"/>
        </label>
    </div>

    <div class="form-group" style="width: 100%">
        <label class="col-xs-2 control-label">上游依赖</label>
        <select id="dependClusterSelect" name="dependClusters" class="form-control select2-multiple" multiple>
            <option th:each="cluster : ${clusterOption}" th:value="${cluster.value}" th:text="${cluster.text}"></option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">提交集群信息</button>
</form>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>

<script>
    $(function() {
            $('#dependClusterSelect').select2({
                placeholder: "请选择上游依赖集群",
                allowClear: true
            });
        })
</script>
</body>
</html>
