<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>服务集群录入</title>
</head>
<body>
    <h2>服务集群信息录入</h2>

    <!-- 提交到 /saveCluster -->
    <form th:action="@{/saveCluster}" method="post">

        <label>名称:
            <input type="text" name="name" required />
        </label><br/>
        <label>备注:
            <input type="text" name="remark" />
        </label><br/>
        <label>最小存活数量:
            <input type="number" name="minAliveNum" value="1" min="1" required />
        </label><br/>

        <button type="submit">提交集群信息</button>
    </form>
</body>
</html>
