<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{include :: header('服务集群列表')}"/>
    <th:block th:insert="~{include :: select2-css}"/>
</head>
<body>
<h1>服务集群列表</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClusterModel">新增服务集群
</button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>备注</th>
        <th>状态</th>
        <th>最小存活数量</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cluster : ${serviceClusters}">
        <td th:text="${cluster.id}"></td>
        <td th:text="${cluster.name}"></td>
        <td th:text="${cluster.remark}"></td>
        <td th:text="${cluster.status}"></td>
        <td th:text="${cluster.minAliveNum}"></td>
        <td class="action-buttons">
            <a th:href="@{/service-clusters/{id}/edit(id=${cluster.id})}">编辑</a>
            <a th:href="@{/service-clusters/{id}/delete(id=${cluster.id})}"
               onclick="return confirm('确定要删除吗?')">删除</a>
        </td>
    </tr>
    </tbody>
</table>


<div class="modal fade" id="addClusterModel" tabindex="-1" role="dialog" aria-labelledby="addClusterModelLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/cluster/save}" method="post" th:object="${clusterParam}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">新增服务集群</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="关闭"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="form-label">名称:
                            <input type="text" name="name" required/>
                        </label>
                    </div>
                    <div>
                        <label class="form-label">备注:
                            <input type="text" name="remark"/>
                        </label>
                    </div>
                    <div>
                        <label class="form-label">最小存活数量:
                            <input type="number" name="minAliveNum" value="1" min="1" required class="form-i"/>
                        </label>
                    </div>

                    <div class="form-group" style="width: 100%">
                        <label class="col-xs-2 control-label">上游依赖</label>
                        <select id="dependClusterSelect" name="dependClusters" class="form-control select2-multiple"
                                multiple>
                            <option th:each="cluster : ${clusterOption}" th:value="${cluster.value}"
                                    th:text="${cluster.text}"></option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>

<th:block th:insert="~{include :: footer}"/>
<th:block th:insert="~{include :: select2-js}"/>
<script>

    $('#addClusterModel').on('shown.bs.modal', function () {
    const $select = $('#dependClusterSelect');
    if (!$select.hasClass("select2-hidden-accessible")) {
        $select.select2({
                dropdownParent: $('#addClusterModel'),
                placeholder: "请选择上游依赖集群",
                allowClear: true
         });
    }
});

</script>
</body>
</html>