<!-- 通用CSS -->
<head th:fragment=header(title)>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title th:text="${title}"></title>
	<link th:href="@{/css/bootstrap.min.css?v=5.3.7}" rel="stylesheet"/>
	<link th:href="@{/css/fontawesome.all.min.css?v=6.7.2}" rel="stylesheet"/>
</head>

<!-- 通用JS -->
<div th:fragment="footer">
	<script th:src="@{/js/jquery.min.js?v=3.7.1}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js?v=5.3.7}"></script>
</div>

<!-- select2下拉框插件 -->
<div th:fragment="select2-css">
    <link th:href="@{/css/select2.min.css?v=4.0.13}" rel="stylesheet"/>
    <link th:href="@{/css/select2-bootstrap.min.css?v=4.0.13}" rel="stylesheet"/>
</div>
<div th:fragment="select2-js">
    <script th:src="@{/js/select2.min.js?v=4.0.13}"></script>
</div>