<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <th:block th:insert="~{include :: header('哨兵监控')}"/>

    <link th:href="@{/sentinel/css/style.css}" rel="stylesheet"/>
</head>
<body class="fixed-sidebar full-height-layout gray-bg " style="overflow: hidden">
<div id="wrapper">

    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <a th:href="@{/index}">
            <li class="logo hidden-xs">
                <span class="logo-lg">哨兵监控</span>
            </li>
        </a>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a class="menuItem" th:href="@{/index}" th:data-refresh="false">
                        <i class="fa fa-home"></i> <span class="nav-label">首页</span>
                    </a>
                </li>
                <li>
                    <a class="menuItem" th:href="@{/cluster/list}" th:data-refresh="false">
                        <i class="fa-solid fa-tents"></i> <span class="nav-label">集群配置</span>
                    </a>
                </li>
                <li>
                    <a class="menuItem" th:href="@{/dag/overview}" th:data-refresh="false">
                        <i class="fa-solid fa-diagram-project"></i> <span class="nav-label">依赖图</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->

    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row content-tabs">
            <button class="roll-nav roll-left tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="menuTab" th:data-id="@{/index/home}">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <a href="javascript:void(0);" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> 刷新</a>
        </div>

        <a id="ax_close_max" class="ax_close_max" href="javascript:;" title="关闭全屏">
            <i class="fa fa-times-circle-o"></i>
        </a>

        <div class="row mainContent" id="content-main" th:classappend="${mainClass}">
            <iframe class="sentinel_iframe" name="iframe0" width="100%" height="100%" th:data-id="@{/index/home}" th:src="@{/index/home}"></iframe>
        </div>

        <div th:if="${footer}" class="footer">
            <div class="pull-right">© 2025 Sentinel Copyright</div>
        </div>
    </div>
    <!--右侧部分结束-->

</div>
<!-- 全局js -->
<th:block th:insert="~{include :: footer}"/>
<script th:src="@{/sentinel/js/index.js?v=1.0.0}"></script>
<script th:src="@{/sentinel/js/common.js?v=1.0.0}"></script>

<script>
    // history（表示去掉地址的#）否则地址以"#"形式展示
    var mode = "history";
    // 是否页签切换滚动到顶部
    var isScrollToTop = true;
</script>
</body>
</html>
